<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046714936304-dummyclientid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046714936304-dummyclientid</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1046714936304-dummyandroidclientid.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1b2C3d4E5f6G7h8I9j0K1l2M3n4O5p67</string>
	<key>GCM_SENDER_ID</key>
	<string>1046714936304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rideShareDriver</string>
	<key>PROJECT_ID</key>
	<string>ryva-ride</string>
	<key>STORAGE_BUCKET</key>
	<string>ryva-ride.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046714936304:ios:d41d8cd98f00b204e98009</string>
</dict>
</plist>
